name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: adopt
          check-latest: true
          cache: gradle

      - name: Run code tests
        run: ./gradlew clean check

      - name: Make sure Gradle daemon is stopped
        if: always()
        run: ./gradlew --stop
