name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: adopt
          check-latest: true
          cache: gradle

      - name: Run code tests
        run: ./gradlew clean check

      - name: Make sure Gradle daemon is stopped
        if: always()
        run: ./gradlew --stop
