name: Dependency Checks

on:
  schedule:
    - cron: 0 8 1 * *
  workflow_dispatch:

jobs:
  owasp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: adopt
          check-latest: true
          cache: gradle

      - name: OWASP Dependency Check
        run: ./gradlew clean dependencyCheckAnalyze

      - name: Make sure Gradle daemon is stopped
        if: always()
        run: ./gradlew --stop
