name: Dependency Checks

on:
  schedule:
    - cron: 0 8 1 * *
  workflow_dispatch:

jobs:
  owasp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: adopt
          check-latest: true
          cache: gradle

      - name: OWASP Dependency Check
        run: ./gradlew clean dependencyCheckAnalyze

      - name: Make sure Gradle daemon is stopped
        if: always()
        run: ./gradlew --stop
