name: Dependency Checks

on:
  schedule:
    - cron: 0 8 1 * *
  workflow_dispatch:

jobs:
  owasp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: adopt
          check-latest: true
          cache: gradle

      - name: OWASP Dependency Check
        run: ./gradlew clean dependencyCheckAnalyze

      - name: Make sure Gradle daemon is stopped
        if: always()
        run: ./gradlew --stop
